{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="feed-container">
                    <div class="feed">
                        {% for post in posts %}
                            <div class="post">
                                <h2>{{ post.title }}</h2>
                                <p>{{ post.user.username }} • {{post.date_posted}}</p>
                                <p>{{ post.content }}</p>
                                <p>Upvotes: {{ post.upvotes }}</p>
                                <form action="{% url 'home' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="post_id" value="{{ post.id }}">
                                    <button type="submit" name="upvote" class="btn btn-primary">Upvote</button>
                                </form>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Floating button -->
    <div class="floating-button">
        <a href="{% url 'create' %}" class="btn btn-primary btn-lg">
            + Create Post
        </a>
    </div>
{% endblock %}
